.ce_main {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 70px;
    color: white;
    background-color: red;
}

#ce_name {
    font-size: 70px;
}

#ce_button {
    padding: 60px 30px;
    font-size: 30px;
    border-radiues: 5px;
    background-color: black;
    cursor: pointer;
}

.ce_circle {
    border-radius: 50%;
    position: absolute;
    opacity: 0.4;
    z-index: 999999;
    pointer-events: none;

    background-color: #B52B52;
}